<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ivanp.vibro"
    android:versionCode="7"
    android:versionName="3.0 (alpha)" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:name="ru.ivanp.vibro.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomizeVibrancy" >

        <!-- ABOUT -->
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/about" />

        <!-- MAIN -->
        <activity
            android:name=".views.MainActivity"
            android:icon="@drawable/logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MORSE RECORDER -->
        <activity
            android:name=".views.MorseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- MORSE RECORDER SETTINGS -->
        <activity
            android:name=".views.MorseSettingsActivity"
            android:screenOrientation="portrait" />

        <!-- TOUCH RECORDER -->
        <activity
            android:name=".views.RecorderActivity"
            android:screenOrientation="portrait" />

        <!-- TOUCH RECORDER SETTINGS -->
        <activity
            android:name=".views.RecorderSettingsActivity"
            android:screenOrientation="portrait" />

        <!-- SELECT VIBRATION -->
        <activity
            android:name=".views.SelectVibrationActivity"
            android:label="@string/select_vibration" />

        <!-- SETTINGS -->
        <activity
            android:name=".views.SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- TEST -->
        <activity
            android:name=".views.TestActivity"
            android:screenOrientation="portrait" />

        <!-- RECEIVERS -->
        <!-- Internet state changed -->
        <receiver android:name=".telephony.InternetStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Incoming sms -->
        <receiver android:name=".telephony.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Incoming call -->
        <receiver android:name=".telephony.CallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- SERVICES -->
        <service android:name=".telephony.SmsService" />
        <service android:name=".telephony.CallService" />
        <service android:name=".telephony.VibrationService" />
    </application>

</manifest>